
<h1>Update Book</h1>
<div class="main">
    <div class="row">
        <div class="col">
            <hr>
            <h2>Select book</h2>
            <p>
                <mat-form-field class="select-book" appearance="fill">
                    <mat-label>Choose book</mat-label>
                    <mat-select (selectionChange)="setAuthorAndType()" [(value)]="selectedBook">
                      <mat-option *ngFor="let book of books" [value]="book">
                        {{book.title}} / {{ book.bookType.type }} / {{ book.author.firstName }} {{ book.author.lastName }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
        </div>
    </div>
  <div class="row">
    <div class="col">
      <hr>
      <h2>Author</h2>
      <p>
          <mat-form-field appearance="fill">
              <mat-label>Choose author</mat-label>
              <mat-select [(ngModel)]="selectedAuthor" #author>
                <mat-option *ngFor="let author of authors" [value]="author">
                  {{author.firstName}} {{ author.lastName }}</mat-option>
              </mat-select>
          </mat-form-field>
      </p>
      <hr>
      <h2>Title</h2>
      <p>
          <mat-form-field class="title-label" appearance="legacy">
            <mat-label>Title</mat-label>
            <input matInput [defaultValue]="selectedBook?.title" placeholder="Some title" #title>
            <mat-icon matSuffix>border_color</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
      </p>
      <hr>
      <h2>Quantity</h2>
      <p>
          <mat-form-field class="title-label" appearance="legacy">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" [defaultValue]="selectedBook?.quantity" min="1" placeholder="f.e 5" #quantity>
            <mat-icon matSuffix>plus_one</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
      </p>
      <hr>
      <h2>Book cover</h2>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Image</mat-label>
          <input matInput [defaultValue]="selectedBook?.imageUrl" placeholder="f.e image.jpg" #imageUrl>
          <mat-icon matSuffix>add_photo_alternate</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>
    </div>
    <div class=col>
      <hr>
      <h2>Type</h2>
      <p>
        <mat-form-field appearance="fill">
            <mat-label>Choose type</mat-label>
            <mat-select [(value)]="selectedType" #type>
              <mat-option *ngFor="let type of types" [value]="type">
                {{type.type}} </mat-option>
            </mat-select>
        </mat-form-field>
      </p>
      <hr>
      <h2>Publication date</h2>
      <p>
        <mat-form-field  appearance="fill">
            <mat-label>Publication date</mat-label>
            <input matInput [defaultValue]="selectedBook?.publicationDate" [matDatepicker]="picker" #date>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>
      <hr>
      <h2>Description</h2>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea [defaultValue]="selectedBook?.description" rows="10" matInput #description></textarea>
      </mat-form-field>
    </div>
  </div>
  

</div>


<button mat-raised-button (click)="update(selectedBook, author.value, type.value, title.value, date.value, quantity.value, description.value, imageUrl.value)">UPDATE</button>

<div class="errors">
  <ul>
    <!-- <li *ngFor="let error of errors">
      <p>{{ error.messages }}</p>
    </li> -->
  </ul>
</div>
