

<div class="block">


    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <button mat-raised-button (click)="openAddUserForm()">
                <mat-icon>person_add</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button (click)="openDeleteUserForm()">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button>
                <mat-icon>group</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button>
                <mat-icon>update</mat-icon>
            </button>
        </mat-grid-tile>
      </mat-grid-list>
</div>
