
<div class="block">
    <br><br>
    <h1>Library Managment System</h1>
    <p>
        LMS - is a system to manage library, created as part of an internship. In system you can search authors and information about them. You can also display all 
        books stored in database. User with admin role can delete selected author or book. Without this role can only add and update previously mentioned books and authors.
        In LMS available also option to sort searched result.
    </p>
    <div class="techs">
        <h2>Technologies used:</h2>
        <div class="row">
            <div class="col-md-2">
                <ul>
                    <li>Back-end
                        <ul>
                            <li>JAVA</li>
                            <li>Spring Boot</li>
                        </ul>
                    </li>
                    <br>
                    <li>Front-end
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Angular</li>
                        </ul>
                    </li>
                 </ul>
            </div>
            <div class="col">
                <ul>
                    <li>Database
                        <ul>
                            <li>PostgreSQL</li>
                            <li>PgAdmin</li>
                        </ul>
                    </li>
                    <br>
                    <li>Other
                        <ul>
                            <li>Postman</li>
                        </ul>
                    </li>
             </ul>
            </div>
        </div>
    </div>

    <div class="controls">
        <button mat-stroked-button (click)="openLoginForm()">Sign in</button>
        <button mat-stroked-button (click)="openRegisterForm()">Sign up</button>
    </div>

</div>  
