

<div class="block">
    <div class="row">
        <button mat-raised-button>SORT</button>
        <button mat-raised-button (click)="openAuthorUpdateForm()">UPDATE</button>
        <button *ngIf="isLogged() == 'true' && getRole() == 'ADMIN'" mat-raised-button (click)="openAuthorDeleteForm()">DELETE</button>
        <button mat-raised-button (click)="openAuthorAddForm()">ADD</button>
    </div>

    <br>
    <!-- <ul>
        <li *ngFor="let author of authors">
            <a href="/books/{{author.firstName}}/{{author.lastName}}">
                {{ author.firstName }} {{ author.lastName }} <br>
                {{ author.dateOfBirth }}
            </a>
        </li>
    </ul> -->
 
    <div class="row">
            <mat-card *ngFor="let author of authors" class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ author.firstName }}</mat-card-title>
                    <mat-card-subtitle>{{ author.lastName }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                    description
                    </p>
                </mat-card-content>
                <hr>
                <mat-card-actions>
                    <button mat-button>More</button>
                    <a href="/books/{{author.firstName}}/{{author.lastName}}">
                        <button mat-button>Books</button>
                    </a>
                </mat-card-actions>
            </mat-card>
    </div>
</div>  
